body,figure,h1,h2,h3,h4,h5{
	margin: 0;
}

body{
	background-color: #03354C;
}

figure{
	text-align: center;
}

img{
	height: 120px;
	width: 82%
}


#opcion{
	vertical-align: top;
	margin-top: 3.5em;
	text-align: justify;
	font-size: .85em;
}

#resultado, #opcion{
	display: inline-block;
	width: 45%
}

#resultado{
	margin-top: 1em;
}

#tablero{
	margin: 0 auto;
	max-width: 700px;
	padding-top: 1em;
	text-align: center;
}

.banner{
	width: 100%;
}

.cuadros{
	cursor: pointer;
	display: inline-block;
	background-color: gray;
	border: 2px solid gray;
	width: 17%;
	height: 70px;
	margin: 0 .15em;
	padding: .44em;
}

.instrucciones{
	font-family: 'Indie Flower', cursive;
	text-align: justify;
	font-size: 1.2em;
	padding: 0 .5em;
	width: 82%;
	margin: 0 auto;
}

.otra{
	background: green;
	border-radius: 5px;
	box-shadow: 3px 3px 3px gray;
	cursor: pointer;
	margin: 0 auto;
	padding: .8em;
	text-align: center;
	width: 50%;
}

.otra:hover{
	box-shadow: none;
}

.rojo{
	border: 2px solid red;
	background: url(../img/fail.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.score{
	background-color: #8CC4F7;
	margin-top: 2em;
	padding-top: .8em;
	text-align: center;
}

.score h3{
	font-size: 1.5em;
	text-align: center;
}

.titulo{
	font-family: 'Lobster', cursive;
	text-align: center;
	padding: 1em 0;
}

.verde{
	border: 2px solid blue;
	background: url(../img/Kaboom.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.wrapper{
	background-color: whitesmoke;
	margin: 0 auto;
	max-width: 700px;
	width: 95%;
	max-height: 1500px;
	
}

@media screen and (min-width:700px){

	img{
		height: 180px;
	}

	#opcion{
		margin-top: 4em;
	}

	.score h3{
		font-size: 2em;
	}
}

